[build]
  command   = "npm run build"
  publish   = "dist"
  functions = "netlify/functions"

[dev]
  command = "vite"
  port    = 8888

[[redirects]]
  from   = "/*"
  to     = "/index.html"
  status = 200